{
    "bracketSpacing": true,
    "printWidth": 140,
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 4,
    "useTabs": false,
    "arrowParens": "avoid",
    "bracketSameLine": true
}
